/**=====================
    52. Datepicker CSS Start
==========================**/
.react-datepicker{
  .react-datepicker__current-month{
    color: $primary-color;
  }
  .react-datepicker__header, .react-datepicker__today-button{
    background-color: rgba($primary-color, 0.1);
  }
  .react-datepicker__week{
    .react-datepicker__day--selected{
      background-color: $primary-color;
    }
    .react-datepicker__day--keyboard-selected{
      background-color: rgba($primary-color, 0.2);
    }
  }
  .react-datepicker__navigation-icon{
    &::before{
      border-color: $primary-color;
    }
  }
}
//colors
.clockpicker-canvas {
  line {
    stroke: var(--primary-color);
  }
}
.clockpicker-canvas-fg, .clockpicker-canvas-bearing {
  fill: var(--primary-color);
}
.daterangepicker {
  td, th {
    &.available {
      &:hover {
          background-color: var(--primary-color);
      }
    }
  }
}
.datepicker--day-name {
  color: $black;
  font-weight: bold;
}
.datepicker--cell {
  &.-current- {
    color: $black;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid var(--primary-color);
  }
  &.-focus- {
    background: var(--primary-color);
    color: $white;
  }
  &.-selected- {
    background: var(--primary-color);
  }
}
.daterangepicker.ltr {
  color: var(--dark-gray);
  z-index: 8;
  tr {
    font-size: 13px;
    td {
      height: 34px;
      width: 34px;
      &.in-range {
        background-color: var(--auth-bg-color);
      }
      &.active {
        background-color: var(--primary-color);
      }
    }
  }
  .ranges {
    float: none;
    li {
      color: var(--primary-color);
      &:hover {
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
        color: $white;
      }
      &.active {
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
        color: $white;
      }
    }
  }
  .calendar-time select {
    color: var(--dark-gray);
  }
}
.datetime-picker {
  .bootstrap-datetimepicker-widget.dropdown-menu {
    width: auto;
  }
  .input-group {
    flex-wrap: nowrap;
  }
}
.date-range-picker{
  .theme-form{
    margin-bottom: 30px;
  }
  > div{
    &:last-child{
      .theme-form{
        margin-bottom: 0px;
      }
    }
  }
}
.daterangepicker{
  &:before {
    border-bottom: 7px solid $light-semi-gray;
  }
  .daterangepicker_input {
    i {
      font-size: 14px;
      color: var(--semi-dark);
    }
  }

 .input-mini{
   border-color: $light-semi-gray !important;
   font-size: 14px;
   color: var(--semi-dark);
 }
  th,td{
    height: 34px;
    width: 34px;
    &:hover{
      color: $dark-color;
    }
    &.prev,&.next{
      color: $white;
      height: 34px;
      width: 34px;
      background-color: var(--primary-color);
    }
    &.month{
      color: var(--primary-color);
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}
.date-picker{
  .text-end{
    text-align: right !important;
    [dir="rtl"] & {
      text-align: left !important;
    }
  }
}
/**=====================
   52. Datepicker CSS End
==========================**/



  
